body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kartu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.kartu {
  position: relative;
  width: 350px;
  height: auto;
  background-color: #314193;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
  opacity: 1;
  margin-top: 450px;
  transition: opacity 0.5s ease-in-out;
}

.kartu:hover{
  opacity: 1;
}
.konten-kartu:hover {
  opacity: 1; /* Full opacity on hover */
}

.kartu:hover .foto-kartu {
  opacity: 1; /* Set to full opacity or other effect */
}

.konten-kartu {
  position: relative;
  z-index: 1;
  opacity: 0.7; /* Set low opacity initially */
}

.kartu h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  text-align: center;
}

.foto-kartu {
  position: absolute;
  bottom: 0;
  right: -60px;
  top: -300px;
  width: 500px;
  height: auto;
  z-index: -1;
  opacity: 0.7; /* Set low opacity initially */
  transition: opacity 0.5s ease-in-out;
}

.foto-kartu[alt="Nicholas Andre Natalino"] {
  right: -29px; /* Adjust the right position specifically */
  top: -460px;  /* Adjust the top position specifically */
  width: 400px;
}

.foto-kartu[alt="Leonard Augusto Bantoro"] {
  right: 50px; /* Adjust the right position specifically */
  top: -330px;  /* Adjust the top position specifically */
  width: 250px;
}

.foto-kartu[alt="Ryan Erlanda Steffen"] {
  right: -20px; /* Adjust the right position specifically */
  top: -330px;  /* Adjust the top position specifically */
  width: 400px;
}

.qr-kode {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qr-kode[alt="Nicholas Andre Natalino QR Code"] {
  margin-top: 35px;
  width: 250px;
  height: 250px;
}

.qr-kode[alt="Rafael Nicholas Po QR Code"] {
  margin-top: 35px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.qr-kode[alt="Leonard Augusto Bantoro QR Code"] {
  margin-top: 8px;
  width: 250px;
  height: 250px;
}

.qr-kode[alt="Ryan Erlanda Steffen QR Code"] {
  margin-top: 35px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}