.section-padding {
    padding: 100px 0;
  }
  
  .carousel-caption {
    bottom: 200px;
    z-index: 2;
  }
  .carousel-image {
    max-height: 650px;
    object-fit: cover;
  }
  .carousel-caption h5 {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  .carousel-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
  * {
    font-family: "Montserrat", sans-serif;
  }
  
  .small-image {
    max-width: 10px;
 /* This ensures the aspect ratio is maintained */
}
