@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #D2E3f7;
}

.navbar {
  background-color: #ffffff; /* Warna background navbar */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  height: 40px; /* Atur ukuran logo sesuai kebutuhan */
  margin-right: 10px; /* Sesuaikan margin untuk logo */
}

.navbar-brand span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff; /* Ganti warna teks menjadi putih agar kontras dengan background */
}

.navbar-brand .text-primary {
  color: #007bff;
}

.navbar-brand .outline {
  color: white; /* Warna teks dasar */
  text-shadow: -1px -1px 0 #000,  
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000; /* Outline hitam */
}

.navbar-nav {
  margin-left: auto; /* Menempatkan elemen di pojok kanan */
}

.navbar-nav .nav-link {
  color: #fff; /* Ganti warna teks menu navigasi menjadi putih */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Warna teks saat di-hover */
}
